---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<!-- Login button tailwind classes -->
<a
  href={href}
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
>
  <slot />
</a>
